body {
    min-height: 100vh;
}

html {
    height: -webkit-fill-available;
}

main {
  height: 100vh;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.sidebar {
  width: 70px;
  height: 100vh;
  transition: all 0.5s ease-in-out;
}

.sidebar span {
  align-items: center;
  display: none;
  transition: all 1s ease-in-out;
}

.sidebar.active { 
  width: 200px;
  transition: all 0.5s ease-in-out;
}

.sidebar.active span {
  display: flex;
  animation: aparecer 1s ease-out forwards;
}

.toggle-button.active i::before {
  content: "\f00d";
}

.toggle-button:not(.active) i::before {
  content: "\f0c9";
}

.dropdown-toggle { outline: 0; }

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}
.bd-mode-toggle {
  z-index: 1500;
}

@keyframes aparecer {
  from {  
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

.row {
  align-items: center;
  flex-wrap: nowrap;
}

@media (min-width: 1200px){
.row-cols-md-4>* {
    flex: 0 0 auto;
    width: 50%;
  }
}

.card {
 justify-content: center;
 display: flex;
}

.album .container .row .col:nth-of-type(2) .card {

}




