body {
  min-height: 100vh;
}

html {
  height: -webkit-fill-available;
}

main {
  height: 100vh;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.sidebar {
  width: 80px;
  height: 100vh;
  transition: all 0.5s ease-in-out;
}

.sidebar span {
  display: none;
}

.sidebar.active {
  width: 250px;
  transition: all 0.5s ease-in-out;
}

.sidebar.active span {
  display: inline;
}

.toggle-button.active i::before {
  content: "\f00d";
}

.toggle-button:not(.active) i::before {
  content: "\f0c9";
}

.dropdown-toggle { outline: 0; }

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}
.bd-mode-toggle {
  z-index: 1500;
}
